.site-branding { min-width: 2em; }
#fixedmenu { position: fixed; z-index: 101; margin: 0em; width: 100%; top: 0px; left: 0px; right: auto; bottom: auto; overflow-y: visible; height: 10em; background-color: $primaryBackgroundColor; }
#primary {  }
#content { background-color: $primaryBackgroundColor; z-index: 100; position: relative; }

/* Mobile */
@media only screen and (max-width: 767px) {
	#fixedmenu { height: 5em; }
	#featured { margin-top: 5em; }
	#content { margin-top: 2em; }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#fixedmenu { height: 7em; }
	.main-navigation { margin-top: -1em; }
}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	#fixedmenu { height: 9em; }
	.main-navigation { margin-top: -2em; }
	.social-navigation { margin-top: -4em; }

}

/* Large Monitor */
@media only screen and (min-width: 1200px) {

}

#page { padding-top: 10em; }
#featured_video_cropped { position: relative; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; z-index: -1; }
#featured_video { position: absolute; z-index: -2; }
#featured_text { margin: 0; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); margin-top: -5em; }
