.site-branding { min-width: 2em; }
#fixedmenu { position: fixed; z-index: 101; margin: 0em; width: 100%; top: 0px; left: 0px; right: auto; bottom: auto; overflow-y: visible; height: 10em; background-color: $primaryBackgroundColor; }
#page { padding-top: 10em; }

#primary {  }
#content { background-color: $primaryBackgroundColor; z-index: 100; position: relative; }

/* Mobile */
@media only screen and (max-width: 767px) {
	#fixedmenu { height: 5em; }
	#page { padding-top: 5em; }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#fixedmenu { height: 7em; }
	#page { padding-top: 7em; }
}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	#fixedmenu { height: 9em; }
	#page { padding-top: 9em; }

}

/* Large Monitor */
@media only screen and (min-width: 1200px) {
}


#featured { position: relative; }
#featured_video { z-index: -1; width: 100%; height: 100%; }
#featured_text { margin: 0; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); }
#featured_text h2 { margin: 0; }
